<!DOCTYPE html>
<html lang="es">
<head>
  {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="short icon" href=" {% static 'img/Academia.png'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel = "stylesheet" href = "{% static 'css/plantilla.css'%}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-success bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Django</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>
    <div class="container py-4">
        <div class="row">
            <div class = "col-md-4 col-offset-4"></div>
                <h2>Edicion De Cursos</h2>
                <div class="card">
                    <div class = "card-body">
                      <form  id= "formularioCurso" action="/editarCurso/" method="POST">{% csrf_token %}
                        <input type="hidden" name = "id" value="{{curso.id}}">
                          <div class="form-group">
                              <input type = "text" id="txtNombre" name="txtNombre" value ="{{curso.nombre}}"class="form-control" minlength="5" maxlength="30" 
                              placeholder="Nombre Del Curso" autofocus required>
                          </div>
                          <div class="form-group">
                                <input type = "number" id="CreditosDelCurso" name="CreditosDelCurso" value = "{{curso.creditos}}" class="form-control" min="1" max="10" value="1" required>
                          </div>
                          <div class ="form-group">
                            <button type = "submit" class="btn btn-success btn-block text-white"> <i class="far fa-save"></i> Guardar</button>

                          </div>
                        </form>
                    </div>
                </div>
            <div class="col-md-8">
            
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>   
    <script src="{% static 'js/gestionCursos.js' %}">             </script>


  </body>
</html>